{{> /layout/header}}

<div class="container p-5">
    <div class="card">
        <div class="card-header"><b>회원가입을 해주세요</b></div>
        <div class="card-body">
            <!-- 요청을 하면 localhost:8080/join POST로 요청됨-->
            <!-- username=사용자 입력값 & password=사용자 입력값 & email=사용자 입력값-->
            <form action="/join" method="post" enctype="application/x-www-form-urlencoded">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter username" name="username"
                        required maxlength="20">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter password"
                        name="password" required maxlength="20">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required
                        maxlength="20">
                </div>
                <!--form태그 안의 모든 input을 한번에 전송, submit은 반드시 form태그 안에 있어야 함-->
                <button type="submit" class="btn btn-primary form-control">회원가입</button>
            </form>
        </div>
    </div>


</div>

{{> /layout/footer}}